.cal_1{color:white;background-color: #50A;}
.cal_2{color:black;background-color: #5fA;}
.cal_3{color:black;background-color: #3bb;}
.cal_5{color:white;background-color: #399;}
.cal_4{color:black;background-color: #b33;}