table {
height: auto;
width: auto;
}
h1{}
h2{border-top: 3px double black;}
h3{border: 1px dotted black; border-width:1px 0 0 1px;padding:0 0 3px 5px;margin:7px 0 0 0;}
p, form{border-left: 1px dotted black;padding:0 0 0 5px;margin:0 0 7px 0;}