.cal{
	display:table;
	border-spacing:5px;
	font-size:12px;
	width:2000px;
	overflow-y: scroll
}


.t_row{
	display: table-row;
	border: 1px dashed red;
}
.mois, .mois_horizon{
	display:table-cell;
	width: 245px;
	border: 1px solid black;
	padding: 0px;
}

.mois_horizon{background-color:lightgrey}

.mois h1, .mois_horizon h1{
	background-color: rgba(0, 125, 255, 0.4);
	color:white;
	margin:0;
	font-size:12px;
	padding:1px 4px;
	vertical-align:middle;
	text-transform : uppercase;
}

.jour{
	border: 1px solid black;
	padding:0;
	margin: 3px;

	background-color: rgba(255, 255, 150, 0.4);
	color:black;

	font-size:12px;
	padding:0 2px;
	font-weight:normal;
	box-shadow:1px 1px 1px #999999;
}

.dimanche .jour{
	background-color: rgba(255, 215, 100, 0.4);

}

.jour a{
	color: black;
	cursor: zoom-in;
}

.mois .entete a, .mois_horizon .entete a{
	text-decoration: none;
	cursor: zoom-in;
	color:white;
}

.mois_horizon .entete a.annee{cursor: pointer;}
.annee::before {content:'>';}
.annee::after {content:'<';}

.vide .jour {
	border: 1px solid grey;
	background-color: rgba(255, 255, 150, 0.1);
	box-shadow:0 0 0 #AAAAAA;
}

.vide .dimanche .jour{
	background-color: rgba(255, 215, 100, 0.2);
}

.vide .jour a{
	color: grey;
	font-style:italic;
}