
.zonne{
	display: table-row;
	/*border: 3px dashed black;*/
	display:block;
}
.sous_zonne{
	display:table-cell;
	width: 500px;
	/*border: 1px solid black;*/
	padding: 7px;
}

a.bouton {
	display:inline-block;
	width:120px;
	height:15px;
	color: white;
	background-color: #AAA;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	margin:0 3px 3px 6px;
	border: 2px outset #c0c0c0;
}
a.bouton:hover {
	background-color: #999;
	border: 2px inset #c0c0c0;
}